h1 {
  text-align: center
}

.title {
  grid-area: title
}

.logged_in {
  grid-area: user;
  text-align: right
}

.grid {
  display: grid;
  height: 85vh;
  width: 95vw;
  align-self: center;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'top art';
}

.topics {
  grid-area: top;
}

.articles {
  height: 90vh;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  overflow-y: scroll
}

.SingleArticle {
  width: 95%;
}

.LiArticle {
  padding-bottom: 5%;
}

.liComment {
  padding-bottom: 5%;
}

li {
  padding: none;
}

nav {
  text-align: center;
}

.formpage {
  text-align: center;
}

.card {
  text-align: center;
  margin-block-start: 2%
}

.btn-toolbar {
  justify-content: center
}

.btn {
  margin-left: 2%;
  margin-right: 2%;
}

.pagination {
  margin: 2% !important;
  }