h1 {
  text-align: center
}

.headerGrid {
  display: grid;
  width: 95vw;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'title user'
}

.title {
  grid-area: title
}

.logged_in {
  grid-area: user;
  text-align: right
}

.grid {
  display: grid;
  width: 95vw;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'top art';
}

.topics {
  grid-area: top
}

.articles {
  grid-area: art;
  overflow-y: scroll
}

.LiArticle {
  padding-bottom: 5%;
}

ul {
  padding: none;
  list-style-type: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
