h1 {
  text-align: center
}

.headerGrid {
  display: grid;
  width: 95vw;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'title user'
}

.title {
  grid-area: title
}

.logged_in {
  grid-area: user;
  text-align: right
}

.grid {
  display: grid;
  height: 85vh;
  width: 95vw;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'top art';
}

.topics {
  grid-area: top;
}

.articles {
  grid-area: art;
  overflow-y: scroll
}

.SingleArticle {
  width: 95%;
}

.LiArticle {
  padding-bottom: 5%;
}

.liComment {
  padding-bottom: 5%;
}

ul {
  padding: none;
  margin-left: -25px;
  border: none;
  list-style-type: none;
}

li {
  padding: none;
}

nav {
  text-align: center;
}

.formpage {
  text-align: center;
}
